html
{
	width: 100%;
	height: 100%;
}

body 
{
	margin: 0px auto;
	padding: 0px;
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #797979;
	height: 100%;
}

h1, h2, h3 
{
	margin: 0px;
	padding: 0px;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #352929;
}

p, ul 
{
	margin-top: 12px;
}

a 
{
	color: #525252;
	text-decoration: none;
}

a:hover
{
	color: #9F6840;
	text-decoration: none;
}

/* LAYOUT */
.siteBg{
	background-color:#B3AEAA;
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:-1;
}
.menuContainer{
background-color:#EBEAE8;
height:32px;
width:100%;
}

.headContainer{
	background:#FFFFFF none repeat scroll 0 0;
	width: 100%
}

.bodyContainer{
background-color:#B3AEAA;
width:100%;	
}

.footContainer{
	background-color: #fff;
}

#page{
	height:100%;
	margin:0 auto;
	overflow:hidden;
	width:970px;
	z-index:100;
}

#head{
background-color:#2A2927;
height:120px;
margin:0 auto;
width:970px;
overflow: hidden;
}

#head .logo{
	width: 670px;
	float: left;	
	height: 100%;
	background: transparent url('images/logo.gif') no-repeat;
}

#head .panel{
	width: 270px;
	float: left;
	height: 90px;
	padding: 15px 0;
	overflow: hidden;
}	

#body{
	clear:both;
	min-height: 300px;
	margin:0 auto;
	overflow:hidden;
	width:970px;
}

.bodyContainer .columnLayout{
	background: transparent url('images/cols_bg.gif') repeat-y;	
}

.bodyContainer .rowLayout{
	background-color: #a39c96;	
}


#content{
	float: left;
	width: 670px;
	height: 100%;
}

#extra{
	float: left;
	width: 300px;
	height: 100%;	
}

#foot{
background-color:#22211D;
height:50px;
margin:0 auto;
width:970px;
}

#menu{
background-color:#10100F;
height:32px;
margin:0 auto;
width:970px;
}

#mainMenu{
	float: left;
}

#handMenu{
	float: right;
}


#menu ul{
height:32px;
margin:0;
padding:0;	
}

#menu li{
border-left:1px solid white;
color:white;
float:left;
font-size:12px;
line-height:14px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:9px 0;
padding:0 6px;
overflow: visible;
}

#menu #mainMenu ul{
	margin-left: 10px;	
}

#menu #handMenu ul{
	margin-right: 10px;	
}

#menu li.first{
	border: none	
}

#menu a{
color:#FEFEFE;
font-family:arial;
font-size:14px;
text-decoration:none;	
}

#menu a:hover{
	text-decoration: underline;
}

/* SG Layout*/
.sg .contentHead{
	background-color: #a39c96;
	width: 960px;
	padding: 10px 5px;
	height: 400px;
}

.contentHead .zajawka{
padding:20px;
width:280px;
float: left;
}

.contentHead .headline{
height:20px;
margin-bottom:10px;	
}

.contentHead .foto{
padding:10px 0;	
}

.contentHead .description{
color:#2A2927;
font-family:verdana;
font-size:12px;
font-weight:normal;
padding:10px 0;
height: 100px;
}

.contentHead .more{
	
}

.contentHead .more a{
color:white;
text-decoration:underline;
}


.sg .contentBox{
	background-color: #d1cdca;
	width: 100%;
	height: 400px;
	
}

.sg .contentBox .con1{
	width: 620px;
	padding: 20px 20px 20px 25px;
	float: left;
}	

.sg .contentBox .con2{
	width: 300px;
	padding: 20px 25px 20px 20px;
	float: left;	
}	

.sg .contentFoot{
	background-color: #a39c96;
	width: 100%;
	height: 400px;
}

h2{
	font-family: arial;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding; 0;
}